
body {
  margin: 0;
  background-color: #efefef;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #dadada;
  top: 0;
  width: 100%;
  box-shadow: 0 -2px 10px 0px #777777;
}

.topnav-body {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #34495e;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  opacity: 0.5;
}

/* Add a color to the active/current link */
.topnav a.active, a.name {
  color: #CB4335;
}

.topnav a.name {
  padding: 10px 10px 10px 0px;
  font-size: 30px;
}

.page {
  max-width: 1200px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-family: 'EB Garamond';
  flex: 1 0 auto;
}

.legend {
  font-size: 12px;
}

h1 {
  font-size: 50px;
  font-weight: lighter;
  margin-top: 0;
}

 h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tiles {
  overflow: auto;
  width: 100%;
}

.list, .random-quote {
  background-color: white;
  opacity: .9;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 0;
  float: left;
  border-radius: 5px;
  position: inherit;
}

.list {
  min-width: 400px;
  margin: 10px;
}

.random-quote {
  width: 500px;
}

.list-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.list ul {
  list-style-type: none;
}

.list li {
  font-size: 15pt;
  padding-bottom: 5px;
}

.list li:hover {
  font-size: 16pt;
  padding-bottom: 4px;
}

img {
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

.copy {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
}

p {
  font-size: 18px;
  line-height: 1.75em;
}

footer {
  text-align: center;
  margin-top: 50px;
}

.tooltip {
  z-index: 10;
  visibility: hidden;
  width: 100px;
  height: 100px;
  padding: 5px;
  background: white;
  opacity: 0.9;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(200, 200, 200, 0.85);
}

#quote {
  text-align: center;
  font-size: 30pt;
  font-style: italic;
  color: #CB4335;
  opacity: .95;
  max-width: 400px;
  line-height: normal;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

li.attribution {
  text-align: right;
  padding-right: 10px;
  list-style-type: none;
  font-size: 16pt;
  opacity: .75;
}

li.attribution::before {
  content: "- ";
}
