body {
  background-color: #efefef;
}
.page {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'EB Garamond';
}

h1 {
  font-size: 50px;
  font-weight: lighter;
}

img {
  border-radius: 50%;
  float: left;
  position: fixed;
}

.copy {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 18px;
  line-height: 1.75em;
}

footer {
   position:  fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
